@use "../base/variables";

.footer {
    padding: variables.$separacion*0.5 0;
    margin-bottom: 0;
    background-color: variables.$grisOscuro;

    .navegacion {
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .contenedor-footer {
        padding-top: variables.$separacion * 0.5;
    }

    .copyright {
        color: variables.$blanco;
        text-align: center;
    }
}