@use "../base/mixins" as mix;
@use "../base/variables";

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    @include mix.tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion {
    display: none;
    @include mix.tablet {
        display: flex;
        align-items: center;
    }

    a {
        color: variables.$blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        @include mix.tablet {
            margin-right: 2rem;
            font-size: 1.8rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.mobile-menu {
    @include mix.tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}

.mostrar {
    display: block;
}